@import "@repo/ui/styles.css";
@import "@repo/tailwind-config";

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--color-finals-black: #1d1a20;
		--color-finals-red: #d21f3c;
		--color-finals-white: #f1f2fa;
		--radius: 0.5rem;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}

	button:hover {
		cursor: pointer;
	}
}

@theme {
	--color-finals-black: var(--color-finals-black);
	--color-finals-red: var(--color-finals-red);
	--color-finals-white: var(--color-finals-white);
	--font-sans:
		var(--font-saira-condensed), system-ui, Avenir, Helvetica, Arial, sans-serif;
	--font-heading:
		var(--font-saira-extra-condensed), system-ui, Avenir, Helvetica, Arial,
		sans-serif;

	--color-background: var(--color-finals-black);
	--color-foreground: var(--color-finals-white);

	--color-primary: var(--color-finals-white);
	--color-secondary: var(--color-finals-red);

	--color-btn-primary-background: var(--color-yellow-400);
	--color-btn-primary-foreground: var(--color-finals-black);

	--color-link-primary: var(--color-yellow-400);
	--color-link-hover: var(--color-yellow-600);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);
}

@layer utilities {
	body {
		font-family:
			var(--font-saira-condensed), system-ui, Avenir, Helvetica, Arial,
			sans-serif;
		line-height: 1.5;
		font-weight: 400;
		margin: 0;
		min-width: 375px;
		min-height: 100vh;

		color: #f1f2fa;
		background-color: #1d1a20;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	a {
		font-weight: 500;
		color: var(--color-primary);
		text-decoration: inherit;
		transition: color 75ms ease-out;
	}

	a:hover {
		color: var(--color-link-hover);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family:
			var(--font-saira-extra-condensed), system-ui, Avenir, Helvetica, Arial,
			sans-serif;
		text-transform: uppercase;
		font-style: italic;
		font-weight: 800;
	}
}
